#grid-yl{
    display:grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        " . main ."
        "footer footer footer"; 
    
}

.w-container{
    display: flex;
    flex-direction: column;
    grid-area: main;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.warnings{
    display: flex;
    justify-content: center;
    margin: 1rem auto;
    padding-top: 1vw;
    padding-bottom: 1vw;
    padding-left: 1vw;
    padding-right: 1vw;

    border: 2px;
    border-style: solid;
    border-radius: 1vh 1vh 1vh 1vh;
    font-style: 'Roboto';
    font-weight: 500;
    font-size: 2vw;    
}
.warnings-2{
    display: flex;
    justify-content: center;
    margin: 1rem auto;

    font-style: 'Roboto';
    font-weight: 600;
    font-size: 2vw;
}
.component-show{
    display: flex;
    flex-direction: column;
    grid-area: main;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-style: 'Roboto';
    font-weight: 600;
    font-size: 2vw;

    
    opacity: 1;
}