.warnings{
    display: flex;
    max-width: 70%;
    justify-content: center;
    margin: 1rem auto;
    padding-top: 1vw;
    padding-bottom: 1vw;

    border: 2px;
    border-style: solid;
    border-radius: 1vh 1vh 1vh 1vh;
    font: 'Roboto';
    font-weight: 600;
    font-size: 3vw;
    
}
.warnings-2{
    display: flex;
    max-width: 60%;
    justify-content: center;
    margin: 1rem auto;

    font: 'Roboto';
    font-weight: 600;
    font-size: 2vw;
    
}