.home-grid{
    display:grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-areas: 
        " . main ."
        "footer footer footer";
}

yl-job-header{
    grid-area: main;
}

yl-job-content{
    grid-area: main;
    padding-top: 6vw;
}