:host{
    .table-header{
        width: auto;
    
        font-size: 1.2em;
        font-weight: 400;
        color: #000;
        text-align: center;
        margin-left: 400px;

        border-style: solid;
        border: 1px;
        border-radius: 1vh 1vh 1vh 1vh;
        border-color: black;
    }
}