<a>
    <section class="companiesList">
        <a>Companies List</a>
        <table> <!-- Table to display the list of companies -->
            <caption><h3>Who have the positions mojo </h3></caption>
            <tr>
                    <th class = "table-header">Company Name</th>
                    <th class = "table-header">Short Pitch</th>
            </tr>
            <tr>
                <td>name</td>
                <td>short_pitch</td>
            </tr>            
        </table>
    </section>
</a>